/* =======================================
RESET & BASE STYLES
======================================= */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* =======================================
  CSS VARIABLES
  ======================================= */
:root {
  --color-primary: #2c3e50;
  --color-secondary: #34495e;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-cyan: #00ffff;
  --color-red: #ff0000;
  --color-grey: #cccccc;
  --color-green: #4caf50;
  --color-blue: #007bff;
  --color-dark-grey: #333333;
  --color-primary-dark: #334250;
  --color-light-grey: #f0f0f0;
}

/* =======================================
  MODAL PHOTO & IMAGENS
  ======================================= */
#modal-photo {
  background-color: var(--color-white);
  display: flex;
  border-radius: 0 10px 10px 0;
  width: 310px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#hatsune-miku_1 {
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0;
}
#hatsune-miku_1 img {
  height: 800px;
}

/* =======================================
  TAGS CONTAINER
  ======================================= */
.tags-container {
  width: 300px;
  border-radius: 0 10px 10px 0;
  padding: 20px;
  background: var(--color-white);
  margin-right: 20px;
}
.tags-container h2 {
  text-align: center;
  padding-right: 15px;
}
.tags-container-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  max-height: 85%;
  overflow-y: auto;
}
.tags-container-div .tag {
  background-color: var(--color-secondary);
  color: var(--color-white);
  width: 200px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

/* =======================================
  LAYOUT PRINCIPAL
  ======================================= */
.container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.sidebar h2 {
  margin-top: 0;
}
.sidebar .btn {
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0;
  background-color: var(--color-secondary);
  border: none;
  border-radius: 5px;
  color: var(--color-white);
  cursor: pointer;
  text-align: left;
}
.sidebar .btn:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: var(--color-primary) solid 1px;
  font-weight: 500;
}

.sidebar-lists {
  border: var(--color-white), solid, 1px;
  padding: 10px;
  border-radius: 10px;
  background: var(--color-white);
}

.tagsEspeciais {
  padding: 20px;
  background: var(--color-white);
  margin-top: 150%;
  border-radius: 10px;
}

.tagsEspeciais p {
  margin: 0;
  font-size: 20px;
  color: var(--color-primary);
}

.tableExib {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px 0;
}

.exibicao {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.PutariaExib {
  box-shadow: inset 0 0 0 3px var(--color-red);
  height: 25px;
  width: 25px;
  background: linear-gradient(
    303deg,
    var(--color-white) 0%,
    var(--color-white) 45%,
    var(--color-red) 45%,
    var(--color-red) 55%,
    var(--color-white) 55%,
    var(--color-white) 100%
  );
}

.CanceladoExib {
  color: var(--color-primary);
  background-image: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-white),
    var(--color-white)
  );
  display: inline-block;
}

.list-item {
  background: var(--color-primary);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin: 15px 0px;
}

/* Conteúdo Principal */
.main-content {
  display: flex;
  flex: 1;
  padding: 20px;
  background-color: var(--color-white);
  overflow-y: auto;
  flex-direction: column;
  align-items: center;
}
.main-content h1 {
  margin-top: 0;
}
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
  margin-right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-grey);
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: var(--color-white);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--color-green);
}

input:checked + .slider:before {
  transform: translateX(14px);
}

/* =======================================
  GRAF LIST & LIST ITEMS
  ======================================= */
.graf-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.graficos {
  border: var(--color-black) solid 1px;
  border-radius: 10px;
  padding: 20px;
  margin-left: 100px;
  height: 700px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container-list-items {
  border: var(--color-black) solid 1px;
  width: 900px;
  height: 700px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-items {
  width: 900px;
  height: 750px;
  border-radius: 10px;
  gap: 25px;
  max-height: 750px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
}
.item-info {
  width: 200px;
  height: 300px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.item-text {
  max-width: 150px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* número de linhas */
  line-clamp: 2; /* número de linhas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin-bottom: 10px;
}
.icon-concluido {
  color: green;
}
.icon-cancelado {
  color: grey;
}
.icon-assistir,
.icon-ler {
  color: orange;
}
.icon-vendo,
.icon-lendo {
  color: blue;
}
.icon-dropado {
  color: red;
}
.icon-conheco {
  color: #ff00f2;
}

/* =======================================
  BOTÕES GERAIS
  ======================================= */
#add-line-btn {
  width: 150px;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
}
#add-line-btn:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: var(--color-primary) solid 1px;
  font-weight: 600;
}
.pesquisa {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.search-filter {
  display: flex;
  position: relative;
}
#search-name {
  width: 300px;
  height: 35px;
  font-size: 15px;
  border-radius: 10px 0 0px 10px;
  border: black solid 1px;
  padding-left: 5px;
  margin: 0;
}
#search-name:focus {
  outline: none; /* remove a borda azul padrão do navegador */
  border: black solid 1px; /* mantém igual à borda original */
  border-radius: 10px 0 0px 10px; /* mantém o mesmo arredondamento */
}
#filter-toggle {
  height: 39px;
  border: black solid 1px;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}
.info-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--color-blue);
  color: var(--color-white);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.info-icon:hover::after {
  content: attr(data-message);
  position: absolute;
  left: 50%;
  top: 130%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--color-white);
  padding: 6px;
  border-radius: 4px;
  font-size: 12px;
  white-space: pre-line;
  width: 530px;
  text-align: justify;
  line-height: 1.4;
  z-index: 1000;
}
#filter-input {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* =======================================
  MODAIS
  ======================================= */
/* Modal de Listas */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* fundo escuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
}

/* Efeito nos filhos */
.modal-content,
#modal-photo,
.tags-container {
  transform: scale(0.8);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.modal.show .modal-content,
.modal.show #modal-photo,
.modal.show .tags-container {
  transform: scale(1);
  opacity: 1;
}

/* Transição de fechamento */
.modal.hidden {
  opacity: 0;
  pointer-events: none;
}

.modal.hidden .modal-content,
.modal.hidden #modal-photo,
.modal.hidden .tags-container {
  transform: scale(0.8);
  opacity: 0;
}
.modal-content {
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 10px 0 0 10px;
  width: 400px;
  text-align: center;
}
#close-modal-btn {
  position: relative;
  top: -10px;
  right: -175px;
  font-size: 24px;
  cursor: pointer;
  color: var(--color-dark-grey);
}

/* Modal de Linhas */
#line-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 360px;
  padding: 20px;
  background-color: var(--color-white);
  border-radius: 8px;
}
#close-line-modal {
  position: relative;
  left: 180px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-dark-grey);
}

/* Modal Edit */
#edit-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 360px;
  padding: 20px;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* =======================================
  FORMULÁRIOS (INPUTS, SELECTS, BOTÕES)
  ======================================= */
#line-form input,
#line-form select,
#edit-form input,
#edit-form select {
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid var(--color-grey);
}
#line-form input[type="checkbox"],
#edit-form input[type="checkbox"] {
  margin-right: 5px;
}
#line-form input::placeholder,
#line-form select,
#edit-form input::placeholder,
#edit-form select {
  color: #666;
}
#line-form button[type="submit"],
#edit-form button[type="submit"] {
  padding: 10px 15px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#line-form button[type="submit"]:hover,
#edit-form button[type="submit"]:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: var(--color-primary) solid 1px;
  font-weight: 400;
}

.hidden {
  display: none;
}
#filter-panel {
  border: 1px solid var(--color-black);
  border-radius: 20px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 12%; /* Fica logo abaixo do botão */
  left: 55%;
  z-index: 10;
  width: 450px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.filter-section {
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 200px;
  overflow: overlay;
}
.filter-section::-webkit-scrollbar {
  width: 8px;
}

.filter-section::-webkit-scrollbar-track {
  background: var(--color-light-grey);
  border-radius: 10px;
}

.filter-section::-webkit-scrollbar-thumb {
  background-color: #91cd76; /* Mantido conforme instrução */
  border-radius: 10px;
  border: 2px solid var(--color-light-grey);
}
h4 {
  color: var(--color-white);
}
.filter-option {
  display: inline-block;
  padding: 4px 8px;
  margin: 4px;
  border: 1px solid #888;
  border-radius: 4px;
  background: var(--color-white);
  cursor: pointer;
  user-select: none;
}
.filter-option.included {
  background: rgb(145 205 118 / 70%);
  color: #0a6700;
  border-color: #0a6700;
}

.filter-option.excluded {
  background: rgb(217 83 79 / 70%);
  color: #570010;
  border-color: #570010;
  border-style: dashed;
}
.active {
  background-color: darkseagreen;
}

/* Tag Input & Sugestões */
.tag-input-container {
  position: relative;
  width: 100%;
}
#tag-search {
  width: 343px;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid var(--color-grey);
}
.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey);
  max-height: 150px;
  overflow-y: auto;
  display: none;
}
.suggestions div {
  padding: 8px;
  cursor: pointer;
}
.suggestions div:hover {
  background-color: var(--color-light-grey);
}
.selected-tags {
  border: #cbc7c7 solid 1px;
  border-radius: 4px;
  padding: 5px;
  display: none;
  flex-wrap: wrap;
  gap: 8px;
  margin: 5px 0;
}
.selected-tags span {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}
.selected-tags span:hover {
  background-color: var(--color-primary-dark);
}

/* =======================================
  INFO DIV BOX (DETALHES MODAL)
  ======================================= */
#info-div-box {
  justify-items: start;
  border: var(--color-black) solid 1px;
  border-radius: 10px;
  padding: 5px;
  background-color: var(--color-primary);
}
#info-div-box p {
  background-color: var(--color-white);
  padding: 5px;
  border-radius: 10px;
  border: grey solid 1px;
}
fieldset {
  background-color: var(--color-white);
  border-radius: 10px;
}
legend {
  background-color: var(--color-white);
  border-radius: 5px;
}

/* =======================================
  TÍTULOS CLICÁVEIS & BOTÕES ADICIONAIS
  ======================================= */
.clickable-title {
  cursor: pointer;
}
.clickable-title:hover {
  color: var(--color-blue);
}
.pesquisaBtn {
  width: 100px;
  height: 30px;
  border-radius: 10px;
}
.pesquisaBtn:hover {
  cursor: pointer;
}
.pesquisasContainer {
  gap: 44px;
  display: flex;
  margin-bottom: 10px;
}
#deleteLineButton {
  position: relative;
  right: 170px;
  font-size: 20px;
  cursor: pointer;
  color: var(--color-white);
  background: var(--color-red);
  border: var(--color-white) solid 1px;
  border-radius: 5px;
  padding: 5px 10px;
}
#editLineButton {
  margin-top: 10px;
  color: var(--color-white);
  background-color: var(--color-green);
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 10px;
}

/* =======================================
  FORMULÁRIO DE LISTAS
  ======================================= */
#list-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
#list-form h2 {
  margin: 10px;
}
#list-name {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  font-size: 20px;
}
#list-description {
  width: 300px;
  height: 135px;
  border-radius: 10px;
  font-size: 15px;
}
#list-form .btn {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background: var(--color-primary);
  border: none;
  color: var(--color-white);
  cursor: pointer;
}
#list-form .btn:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: var(--color-primary) solid 1px;
  font-weight: 600;
}

/* =======================================
  TAG STYLES (ESTILIZAÇÃO DAS CLASSES DE TAGS)
  ======================================= */

.Goat {
  background-size: 400% 400%;
  background-image: linear-gradient(
    90deg,
    var(--color-red),
    #1aff00,
    #0084ff,
    #ff00f2
  );
  color: var(--color-white);
  font-weight: 600;
  background-position: 0% 50%;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  animation: gradientAnimation 3s linear infinite;
}

.Love {
  background-size: 400% 400%;
  background-image: linear-gradient(90deg, #fd00a4, #ad0000, #ad0000, #fd00a4);
  color: var(--color-white);
  font-weight: 600;
  background-position: 0% 50%;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  animation: gradientAnimation 3s ease infinite;
}

.Putaria {
  background: linear-gradient(
    303deg,
    var(--color-white) 0%,
    var(--color-white) 45%,
    var(--color-red) 45%,
    var(--color-red) 55%,
    var(--color-white) 55%,
    var(--color-white) 100%
  );
  color: var(--color-black);
  font-weight: 700;
  box-shadow: inset 0 0 0 5px var(--color-red);
}

.Cancelado {
  color: var(--color-primary);
  background-image: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-white),
    var(--color-white),
    var(--color-white)
  );
}

.Pika {
  color: var(--color-black);
  font-weight: 600;
  background: url("/static/img/fire-102.gif");
  background-size: cover;
}

.BestLove {
  background-size: 400% 400%;
  background-image: linear-gradient(
    90deg,
    var(--color-red),
    #fbff00,
    #1aff00,
    #00ffd7,
    #0008ff,
    #ff002b
  );
  color: var(--color-white);
  font-weight: 600;
  background-position: 0% 50%;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  animation: infinityAnimation 1s linear infinite;
}

/* =======================================
  ANIMAÇÕES
  ======================================= */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes infinityAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
