<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List-IT</title>
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <!-- Sidebar fixa -->
        <aside class="sidebar">
            <h2>List-IT</h2>
            <button class="btn" id="create-list-btn">Criar Lista</button>
            <div class="sidebar-lists">
                <!-- Listas serão exibidas aqui -->
            </div>
        </aside>

        <!-- Conteúdo principal -->
        <main class="main-content">
            <h1>Bem-vindo!</h1>
            <p>Selecione uma opção na barra lateral para começar.</p>
        </main>
        <div id="hatsune-miku_1">
            <img src="/static/img/hd-adorable-hatsune-miku-art-anuzjvsnrxg422dt.jpg"
             alt="Hatsune Miku">
        </div>
    </div>

    <!-- Modal para adicionar Lista -->
    <div id="modal" class="modal hidden">
        <div class="modal-content">
            <span id="close-modal" class="close-btn">&times;</span>
            <h2>Criar Lista</h2>
            <form id="list-form">
                <input type="text" id="list-name" name="list-name" placeholder="Nome da lista:" required>
                <button class="btn" type="submit">Salvar</button>
            </form>
        </div>
    </div>

    <!-- Modal para adicionar Linha -->
    <div id="line-modal" class="modal hidden">
        <div class="modal-content" id="mainInfoContent">
            <button type="button" id="close-line-modal">&times;</button>
            <h2>Adicionar Linha</h2>
            <form id="line-form">
                <input type="text" id="line-name" placeholder="Nome" required>

                <div class="tag-input-container">
                    <h3 style="margin: 0">Tags:</h3>
                    <div id="selected-tags" class="selected-tags"></div>
                </div>                             

                <select id="line-content">
                    <option value="Anime">Anime</option>
                    <option value="Filme">Filme</option>
                    <option value="Manga">Manga</option>
                    <option value="Manhwa">Manhwa</option>
                    <option value="Hentai">Hentai</option>
                    <option value="Webtoon">Webtoon</option>
                </select>

                <select id="line-status">
                    <option value="Assistir">Assistir</option>
                    <option value="Ler">Ler</option>
                    <option value="Assistindo">Assistindo</option>
                    <option value="Lendo">Lendo</option>
                    <option value="Dropado">Dropado</option>
                    <option value="Cancelado">Cancelado</option>
                    <option value="Concluido">Concluído</option>
                    <option value="Conheço">Conheço</option>
                </select>

                <input type="number" id="line-episode" placeholder="Episódio/Capítulo">

                <select id="line-opinion">
                    <option value="Favorito">Favorito</option>
                    <option value="Muito Bom">Muito Bom</option>
                    <option value="Recomendo">Recomendo</option>
                    <option value="Bom">Bom</option>
                    <option value="Mediano">Mediano</option>
                    <option value="Ruim">Ruim</option>
                    <option value="Horrivel">Horrível</option>
                    <option value="Não Vi">Não Vi</option>
                </select>

                <button type="submit">Salvar Linha</button>
            </form>
        </div>
        <div class="tags-container" id="tags-container">
            <h2>Tags</h2>
            <div class="tags-container-div">
                <!-- Tags -->
            </div>
        </div>
    </div>

    <!-- Modal para exibir dados -->
    <div id="info-modal" class="modal hidden">
        <div class="modal-content">
            <!-- info modal aqui -->
            <span id="close-modal-btn">&times;</span>
            <button id="deleteLineButton">&#128465;</button>
        </div>
        <div id="modal-photo">
            <!-- photo modal -->
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
